<footer id="footer">
				<section class="container ">
					<div class="row">
					<div class="6u">
					<img src="<%= asset_path('gfp-studio-logo.svg') %>">
						<ul class="icons">
						<li><a href="#"><span class="icon feature fa-facebook-square fa-2"></span></a></li>
						<li><a href="#"><span class="icon feature fa-twitter-square fa-2"></span></a></li>
						<li><a href="#"><span class="icon feature fa-flickr fa-2"></span></a></li>
						<li><a href="#"><span class="icon feature fa-google-plus fa-2"></span></a></li>
						
					</ul>
					<address>
						<p><span class="accent-yellow">e:</span> hello@gfpstudio.com <br>
						<span class="accent-yellow">t:</span> +353 85 1920 495 </p>
						<p>11 Achill House<br>
						IFSC, D1 <br>
						Dublin, Ireland</p>
					</address>

					
					</div>
					<div class="6u">
					<p>Get in <span class="accent-yellow">touch</span><span id="contact"></span></p>

								<form>
									<div class="row half no-collapse-1">
										<div class="6u">
											<input name="name" placeholder="Name" type="text">
										</div>
										<div class="6u">
											<input name="email" placeholder="Email" type="text">
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<input name="subject" placeholder="Subject" type="text">
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<textarea name="message" placeholder="Message" rows="4"></textarea>
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<ul class="buttons">
												<li><a href="#" class="button special">Send Message</a></li>
											</ul>
										</div>
									</div>
								</form>
							

					</div>
					</div>
					<div class="row">
						<p></p>
						<span class="copyright 12u"><span class="accent-azul">&copy; GFP Studio. All rights reserved. 2011-<%= Time.now.year %></span></span>
					</div>
					</section>
			</footer>