<section id="banner">
				
	<ul id="slider">
		<li id= "first-s" class="parallax"></li>
		<li id= "second-s" class="parallax"></li>
		<li id= "third-s" class="parallax"></li>
	</ul>
				
	<div id="effects"></div>

	<div class="inner">
		
		<header>
			<h2 id="jumbotext"><span class="nowrap"><span class="accent-azul inter">GRAPHIC</span> DESIGN.</span><span class="breaker"> </span><span class="nowrap"><span class="accent-yellow inter">WEB </span>DESIGN.<span class="breaker"> </span></span><span class="nowrap">WEB <span class="accent-red inter">DEVELOPEMENT.</span></span></h2>
		</header>
		
		<p>High Impact Designs and Bespoke Code</p>

		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button scrolly">SEE MORE</a></li>
			</ul>
		</footer>
	
	</div>
				
</section>